*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #000;
	background-color: #fff;
	text-rendering: optimizeLegibility;
	/*Mac dinh la: 16px;*/
}

/*-------------HOME SERVICES---------------*/

.home-services{
	position: relative;
	width: 100%;
	height: auto;
	display: block;
	z-index: 4;
}
.title-box {
	position: relative;
	display: block;
	padding: 30px 5%;
	width: 100%;
	height: auto;
	z-index: 2;
}
.title-box h2{
	animation: goUp .7s .2s forwards;
	opacity: 0;
	color: #3a63ad;
	font-size: 400%;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	margin: auto;
	line-height: 1.2;
}

.title-box::before, .title-box::after{
	position: absolute;
	display: block;
	top: 50%;
	width: 20%;
	height: 1px;
	background-color: #3a63ad; /*Màu đường kẻ*/
	content: '';
	opacity: 0;
	transition: width 1s ease-in-out;
}
.title-box::after{
	right: 0;
	animation: goCentrer2 1s forwards;
}
.title-box::before{
	left: 0;
	animation: goCentrer1 1s forwards;
}

.home-services-item{
	position: relative;
	display: block;
	background-image: url('../img/hinh-trang-tri-tt-khu-vui-choi-snow-town-2019.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	width: 100%;
	height: 888px;
}
.home-services-text {
	position: absolute;
	display: inline-block;
	width: 470px;
	height: 470px;
	background-color: #fff;
	top: 50%;
	left: 18%;
	margin: -235px 0 0;
	padding: 80px;
	border-radius: 50%;
	box-shadow: 0 0 0 10px rgba(255,255,255,.3);
	animation: goLeft 1s .8s forwards;
	opacity: 0;
}

.home-services-text h3{
	margin: 0 0 0 20px;
	color: #3a63ad;
	font-size: 180%;
	font-weight: 400;
	text-transform: uppercase;
	display: block;
}
 .home-services-text h3 p, .home-services-text p{
	font-size: 90%;
	color: #3d3d3d;;
	margin: 10px 0;
	font-weight: 400;
	max-height: 140px;
	overflow: hidden;
	line-height: 1.4;
	display: block;
}
.btn-submit{
	position: relative;
	background-color: #3a63ad;
	color: #fff;
	font-size: 90%;
	border: 2px solid none;
	border-radius: 30px;
	padding: 0 55px 0 20px;
	margin: 0px 0 0 20px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	font-weight: 700;
	text-decoration: none;
	transition: all .3s ease-in-out;
	text-transform: uppercase;
}
.btn-submit:hover{
	background-color: #617c2c;
}
.btn-submit::after{
	position: absolute;
	border: 1px solid #fff;
	border-radius: 50%;
	right: 5px;
	top: 5px;
	width: 40px;
	height: 40px;
	color: #fff;
	background: url(../img/btn-sumit-after.png) center center no-repeat;
	background-size: cover;
	transition: all .3s ease-in-out;
	content: '';
}


/*---------CSS chung----------*/
.title-box, .home-services-text h3 {
	letter-spacing: 1px;
	word-spacing: 4px;
}

/*---------Animations----------*/
@keyframes goUp{
	0%{
		opacity: 0;
		transform: translate3d(0,300px,0);
	}
	100%{
		opacity: 1;
		transform: none;
	}
}

@keyframes goLeft {
	0%{
		opacity: 0;
		transform: translate3d(100px,0,0);
	}
	100%{
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}

@keyframes goCentrer1 { /*---Đường viền bên trái*/
	0%{
		opacity: 0;
		transform: translate3d(-1000px,0,0);
	}
	100%{
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}
@keyframes goCentrer2 { /*---Đường viền bên phải*/
	0%{
		opacity: 0;
		transform: translate3d(1000px,0,0);
	}
	100%{
		opacity: 1;
		transform: translate3d(0,0,0);
	}
}
